Repository inQuizitive/inQuizitive, pull requests merged in 2021-03, with the labels that each got.

#36 added backend directories
  models/schemas/users.js
  routes/indexRouter.js
Labels: Directories

#37 basic user schema
  models/schemas/users.js
Labels: Backend

#39 quiz user results schema
  models/schemas/quiz.js
  models/schemas/users.js
Labels: Backend

#40 change the models 'results' path to quiz
  index.js
  models/schemas/results.js
Labels: Backend

#42 coding the results router as a group
  models/schemas/quiz.js
  routes/indexRouter.js
  routes/resultsRouter.js
Labels: Backend

#46 fix duplicate files from file structure
  .gitignore
  frontend/.gitignore
  frontend/.gitignore 2
  frontend/public/robots 2.txt
  frontend/src/App.test 2.js
  frontend/src/setupTests 2.js
  package 2.json
Labels: bug

#51 ideas for information we can add to the readme file
  README.md
  index.js
Labels: Git

#54 added some basic info to our READme file
  README.md
Labels: Git

#60 some basic frontend structure
  frontend/src/components/footer/Footer.js
  frontend/src/components/navbar/Navbar.js
Labels: Directories, Frontend

#78 game-end functionality
  frontend/src/App.css
  frontend/src/components/quiz/GameOver.js
  frontend/src/components/quiz/Question.js
  frontend/src/components/quiz/Quiz.js
  package.json
Labels: Frontend

#79 change of font - google fonts @import
  frontend/src/App.css
Labels: Frontend

#88 started footer design (no where near done)
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/components/footer/Footer.css
  frontend/src/components/footer/Footer.js
Labels: Frontend

#91 styling & links update on footer
  frontend/src/components/footer/Footer.css
  frontend/src/components/footer/Footer.js
Labels: Frontend

#96 fix set type functionality
  frontend/src/components/quiz/Quiz.js
  frontend/src/components/quiz/QuizSelection.js
Labels: Frontend

#100 Auto stash before merge of "main" and "origin/main"
  frontend/src/App.js
Labels: Frontend

#101 fix
  frontend/src/App.js
Labels: Frontend

#102 17 Nav Bar
  frontend/src/App.js
  frontend/src/components/images/logo/inQuizitive.svg
  frontend/src/components/images/logo/inquizfav.ico
  frontend/src/components/navbar/Navbar.css
  frontend/src/components/navbar/Navbar.js
  frontend/src/components/navbar/NavbarElements.js
  frontend/src/components/navbar/index.js
  package-lock.json
  package.json
Labels: Frontend

#103 nav bar css styling fix
  frontend/src/components/navbar/NavbarElements.js
Labels: Frontend

#106 css changes and updates
  frontend/src/App.js
  frontend/src/components/about/About.css
  frontend/src/components/faq/Faq.css
  frontend/src/components/faq/Faq.js
  frontend/src/components/footer/Footer.css
  frontend/src/components/footer/Footer.js
Labels: Frontend

#112 quiz-page-styling-update
  frontend/src/App.css
  frontend/src/components/about/About.js
  frontend/src/components/faq/Faq.css
  frontend/src/components/faq/Faq.js
  frontend/src/components/profile/Profile.js
  frontend/src/components/quiz/Quiz.css
  frontend/src/components/quiz/Quiz.js
  frontend/src/components/quiz/QuizSelection.js
Labels: Frontend

#116 more styling
  frontend/src/App.css
  frontend/src/components/about/About.js
Labels: Frontend

#121 styling for the quiz question pages
  frontend/src/App.css
  frontend/src/components/quiz/GameOver.css
  frontend/src/components/quiz/GameOver.js
  frontend/src/components/quiz/Question.js
  frontend/src/components/quiz/Quiz.css
  frontend/src/components/quiz/Quiz.js
Labels: Backend, Frontend

#125 css style fixing whole app (size issues with most pages)
  frontend/src/components/about/About.css
  frontend/src/components/about/About.js
  frontend/src/components/faq/Faq.css
  frontend/src/components/faq/Faq.js
  frontend/src/components/footer/Footer.css
  frontend/src/components/footer/Footer.js
  frontend/src/components/home/Home.js
  frontend/src/components/quiz/GameOver.css
  frontend/src/components/quiz/GameOver.js
  frontend/src/components/quiz/Question.js
  frontend/src/components/quiz/Quiz.css
  frontend/src/components/quiz/Quiz.js
  frontend/src/components/signup/Signup.js
Labels: Frontend

#126 17 Nav Bar
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/components/navbar/Link.js
  frontend/src/components/navbar/NavBtn.js
  frontend/src/components/navbar/NavLink.js
  frontend/src/components/navbar/Navbar.css
  frontend/src/components/navbar/Navbar.js
  frontend/src/components/navbar/NavbarElements.js
  frontend/src/components/navbar/NewNavbar.js
  frontend/src/images/logo/InQuizitive-white.ico
  frontend/src/images/logo/InQuizitive-whiteLogo.png
  frontend/src/images/logo/InQuizitiveWhite.svg
  frontend/src/images/logo/InQuizitiveWhiteRed.svg
Labels: Frontend

#127 more css fixing for quiz pages
  frontend/src/components/quiz/Question.js
  frontend/src/components/quiz/Quiz.css
Labels: Frontend

#135 created the table HTML design
  frontend/src/App.js
  frontend/src/components/leaderboard/Leaderboard.css
  frontend/src/components/leaderboard/Leaderboard.js
  models/schemas/quiz.js
  package-lock.json
  package.json
Labels: Frontend

#142 created user history pages
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/components/faq/Faq.css
  frontend/src/components/footer/Footer.css
  frontend/src/components/history/History.css
  frontend/src/components/history/History.js
  frontend/src/components/home/Home.js
  frontend/src/components/leaderboard/Leaderboard.js
Labels: Frontend

#150 added filter functionality
  frontend/src/components/leaderboard/Leaderboard.js
Labels: Frontend

#156 added filter functionality to the leaderboard
  frontend/src/components/leaderboard/Leaderboard.js
  routes/userRouter.js
Labels: Frontend

#157 replace boolean and multiple with True/False and Multiple Choice
  frontend/src/components/leaderboard/Leaderboard.js
Labels: Frontend

#169 17 Nav Bar
  frontend/src/App.css
  frontend/src/components/navbar/Navbar.css
Labels: Frontend

#176 user history functionality and filter done
  frontend/src/components/history/History.js
  frontend/src/components/leaderboard/Leaderboard.js
  routes/userRouter.js
Labels: Frontend

#177 87 Sign Up button on Navbar when not logged in
  frontend/src/components/navbar/Navbar.css
  frontend/src/components/navbar/Navbar.js
Labels: Frontend

#183 index.html tab name for app
  frontend/public/index.html
Labels: Frontend
